In [5]:
# Import libraries

import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from pprint import pprint

In [7]:
# Import the 'config' funtion from the config.py file

from config import config

In [8]:
# Establish a connection to the database by creating a cursor object

# Obtain the configuration parameters

params = config()

In [9]:
# Connect to to database

conn = psycopg2.connect(**params)

In [10]:
# Create a cursor object

cur = conn.cursor()

In [11]:
# A sample query of all data from the "department" table in the "Personnel_HW" database

cur.execute("""SELECT * FROM department""")
query_results = cur.fetchall()
pprint(query_results)

[('d001', 'Marketing'),
 ('d002', 'Finance'),
 ('d003', 'Human Resources'),
 ('d004', 'Production'),
 ('d005', 'Development'),
 ('d006', 'Quality Management'),
 ('d007', 'Sales'),
 ('d008', 'Research'),
 ('d009', 'Customer Service')]

In [12]:
# A function that takes in a PostgreSQL query and outputs a pandas database 

def create_pandas_table(sql_query, database = conn):
    table = pd.read_sql_query(sql_query, database)
    return table

In [13]:
# Utilize the create_pandas_table function to create a Pandas data frame
# Store the data as a variable

department_info = create_pandas_table("SELECT dept_id, dept FROM department ORDER BY dept_id")
department_info

  dept_id                dept
0    d001           Marketing
1    d002             Finance
2    d003     Human Resources
3    d004          Production
4    d005         Development
5    d006  Quality Management
6    d007               Sales
7    d008            Research
8    d009    Customer Service

In [14]:
# Close the cursor and connection to so the server can allocate
# bandwidth to other requests

cur.close()
conn.close()